@charset "utf-8";

*{margin: 0; padding: 0; font-family: 'S-CoreDream-3Light'; text-transform: uppercase; box-sizing: border-box;}
ul{list-style: none;}
a{color: #000; text-decoration: none;}


@import "mixin.scss";



html,body{
    width: 100%;
    height: 100%;
    background-color: $bg-color;
}


.main-content{//전체
    width: 100%;
    height: 960px;
    .side-logo{//상단 회전 로고
        width: 100px;
        height: 100px;
        position: absolute;
        top: 20px;
        right: 20px;
        img{
            width: 100%;
            object-fit: contain;
            animation: spin 6s infinite linear;
        }
    }
    .content-wrap{//내용
        max-width: 1550px;
        margin: 0 auto;
        height: 100%;
        padding: 0 1%;
        display: flex;
        position: relative;
        border-right: 4px solid $white-color;
        .tab-menu{//사이드 탭
            width: 800px;
            height: 50px;
            transform: rotate(90deg);
            position: absolute;
            top: 50%;
            right: -425px;
            ul{
                display: flex;
                justify-content: space-between;
                li{
                    flex-basis: 18%;
                    width: 100px;
                    height: 50px;
                    text-align: center;
                    line-height: 50px;
                    border: 3px solid $white-color;
                    border-bottom: 0;
                    &:hover,
                    &.on{
                        background-color: $white-color;
                        transform: scale(1.1);
                        a{
                            color: $black-color;
                        }
                    }  
                    a{
                        color: $white-color;
                        font-size: 20px;
                        font-weight: bold;
                        display: inline-block;
                        width: 100%;                      
                    }
                }
            }
        }
        .tab-content-wrap{//메인내용
            width:100%;
            .content-title{//타이틀
                position: fixed;
                left: 20px;
                h1{
                    @include bg-title();
                }
            }
            .tab-content{//카드 전체
                width: 100%;
                height: 550px;
                padding: 0px 0.5%;
                position: relative;

                top: 30%;
                z-index: 10;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .card-list{//카드 4개
                    flex-basis: 28%;
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1%;
                    .card-box{//각자 카드
                        background-color: #fff;
                        border: 2px solid #000;
                        border-radius: 10px;
                        flex-basis: 49%;
                        height: 290px;
                        &:nth-child(4){
                            img{
                                object-position: right bottom;
                            }
                        }
                        .image{
                            width: 95%;
                            margin: 7px auto 0;
                            height: 230px;
                            border: 1px solid #000;
                            overflow: hidden;
                            img{
                                width: 200%;
                                object-fit: cover;
                            }
                        }
                        p{
                            text-align: right;
                            font-size: 12px;
                        }
                        h3{
                            text-align: center;
                            font-weight: bold;
                            font-family: $c-font;
                            padding-bottom: 2px;
                            font-size: 16px;
                        }
                    }
                }
                .card-detail{
                    flex-basis: 70%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    .detail-left{//사진 틀
                        flex-basis: 40%;
                        height: 85%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 25px;
                        background-color: $card-detail-color;
                        &::after{
                            content: "";
                            width: 2px;
                            height: 90%;
                            border-right: 2px dashed #000;
                        }
                        .image{
                            border: 2px solid #000;
                            border-radius: 10px;
                            width: 90%;
                            height: 350px;
                            margin: 0 auto;
                            overflow: hidden;
                            img{
                                width: 100%;
                            }
                        }
                    }
                    .detail-right{
                        flex-basis: 59%;
                        height: 85%;
                        border-radius: 25px;
                        background-color: $card-detail-color;
                        .work-content{
                            .work-desc{
                                width: 90%;
                                margin: 0 auto;
                                height: 85%;
                                h3{
                                    width: 100%;
                                    font-size: 45px;
                                    font-family: $c-font;
                                    position: relative;
                                    text-align: center;
                                    padding-top: 20px;
                                    &::after{
                                        content: "";
                                        width: 100%;
                                        height: 2px;
                                        background-color: #000;
                                        position: absolute;
                                        bottom: 0px;
                                        left: 0px;
                                    }
                                }
                                p{
                                    padding: 10px 0;
                                    font-weight: 900;
                                    &:nth-child(2){
                                        text-align: center;
                                        font-size: 14px;
                                        letter-spacing: 10px;
                                        padding: 10px 0 30px;
                                        font-weight: bold;
                                        span{
                                            background-color: $card-point-color;
                                        }
                                    }
                                    &:nth-child(3){
                                        span{
                                            width: 20px;
                                            height: 20px;
                                            vertical-align: middle;
                                            display: inline-block;
                                            border-radius: 50%;
                                            &:nth-child(1){
                                                background-color: #fff;
                                            }
                                            &:nth-child(2){
                                                background-color: #000;
                                            }
                                        }
                                    }
                                }
                            }
                            .btn-wrap{
                                ul{
                                    display: flex;
                                    justify-content: center;
                                    margin-top: 30px;
                                    li{
                                        padding: 1% 6%; 
                                        border: 2px solid $black-color; 
                                        border-radius: 35px; 
                                        cursor: pointer; 
                                        transition: 0.5s;
                                        font-weight: bold;
                                        letter-spacing: 2px;
                                        &:hover{
                                            box-shadow: -90px 0 0 0 $black-color inset, 90px 0 0 0 $black-color inset;
                                            a{
                                                color: $white-color;
                                            }
                                        }
                                        &:nth-child(2){
                                            margin: 0 4%;
                                        } 
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}